.navbar, .navbar .search-box, .navbar .nav-links, .navbar .links{
    background: rgb(40, 62, 74);
    color: white;
}

.navbar .nav-links a, .navbar .nav-links a.router-link-active{
    color:white;
}

.navbar .nav-links a:hover{
   color: white; 
}

.navbar .links{
    background: rgb(40, 62, 74) !important;
}

.navbar .site-name{
    display: none;
}