.navbar, .navbar .search-box, .navbar .nav-links, .navbar .links{
    background: rgb(40, 62, 74);
    color: white;
}

.navbar .nav-links a{
    color:white;
}

.navbar .nav-links a:hover{
   color: white; 
}

.navbar .site-name{
    display: none;
}